In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
students=30
play_cricket=15
f_stu=10
m_stu=20
f_cric=2
m_cric=13

In [3]:

        prob_CF=f_cric/f_stu
        print('prob for female student play cricket:',prob_CF)
        prob_NCF=1-prob_CF
        print('prob for female student not play cricket:',prob_NCF)
        Gi_prob_FC=(prob_CF)**2+(prob_NCF)**2
        print('Gini index for female play cricket:',Gi_prob_FC)

prob for female student play cricket: 0.2
prob for female student not play cricket: 0.8
Gini index for female play cricket: 0.6800000000000002

In [4]:

    prob_CM=m_cric/m_stu
    print('prob for male student play cricket:',prob_CM)
    prob_NCM=1-prob_CM
    print('prob for male student not play cricket:',prob_NCM)
    Gi_prob_MC=(prob_CM)**2+(prob_NCM)**2
    print('Gini index for male play cricket:',Gi_prob_MC)

prob for male student play cricket: 0.65
prob for male student not play cricket: 0.35
Gini index for male play cricket: 0.545

In [5]:

    prob_FS=f_stu/students
    print('probability female student:',prob_FS)
    prob_MS=m_stu/students
    print('probability male student:',prob_MS)
    final_gini=(prob_FS)*(Gi_prob_FC)+(prob_MS)*(Gi_prob_MC)
    print('Gini weighted for parent node:',final_gini)

probability female student: 0.3333333333333333
probability male student: 0.6666666666666666
Gini weighted for parent node: 0.5900000000000001

In [6]:
df=pd.DataFrame()

In [7]:
df['outlook']=['rainy','rainy','overcast','sunny','sunny','sunny','overcast','rainy','rainy','sunny','rainy','overcast','overcast','sunny']
df['Labels']=[0,0,1,1,1,0,1,0,1,1,1,1,1,0]

In [8]:
df

     outlook  Labels
0      rainy       0
1      rainy       0
2   overcast       1
3      sunny       1
4      sunny       1
5      sunny       0
6   overcast       1
7      rainy       0
8      rainy       1
9      sunny       1
10     rainy       1
11  overcast       1
12  overcast       1
13     sunny       0

In [9]:
def gini_index(data,labels):
    df_un,c1=np.unique(data,return_counts=True)
    gin=[]
    gi=0
    gini=0
    for i in range(len(c1)):
        index=data.index[data == df_un[i]]
        lab_val=np.array(labels[index])
        _, counts = np.unique(lab_val, return_counts=True)
        probabilities = counts / len(lab_val)
        gini = 1 - np.sum(probabilities ** 2)
        gi=gini*len(index)/len(data)+gi
        gin.append(round(gini,4))   
    return (gin,gi)

In [14]:
ga,gb=gini_index(df["outlook"],df["Labels"])
print("gini index of sunny,overcast,rainy :",ga)
print("Gini Index of Overcast : ",round(gb,2))

gini index of sunny,overcast,rainy : [0.0, 0.48, 0.48]
Gini Index of Overcast :  0.34

In [10]:
def chi_square(observed, expected):
    return np.sum((observed - expected)**2 / expected)

In [16]:
ca,cb=chi_square(df["outlook"],df["Labels"])
print("chi of sunny,overcast,rainy :",ca)
print("chi of Overcast : ",cb)

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [11]:
def entropy(data,labels):
    df_un,c1=np.unique(data,return_counts=True)
    ent=[]
    ent_tot=0
    for i in range(len(c1)):
        index=data.index[data == df_un[i]]
        lab_val=np.array(labels[index])
        _, counts = np.unique(lab_val, return_counts=True)
        probabilities = counts / len(lab_val)
        entropy = -np.sum(probabilities * np.log2(probabilities))
        ent_tot=entropy*len(index)/len(data)+ent_tot
        ent.append(round(entropy,2))
    return (ent,ent_tot)

In [13]:
ea,eb=entropy(df["outlook"],df["Labels"])
print("entropy of sunny,overcast,rainy :",ea)
print("Entropy of Overcast : ",round(eb,2))

entropy of sunny,overcast,rainy : [-0.0, 0.97, 0.97]
Entropy of Overcast :  0.69

In [12]:
def information_gain(parent, child):
    _,parent_entropy = entropy(parent,parent)
    _,children=entropy(child,parent)
    return (parent_entropy - children)

In [15]:
info=information_gain(df["Labels"],df["outlook"])
print("Information Gain for outlook : ",-1*(info))

Information Gain for outlook :  0.6935361388961919