In [ ]:
# Que: WAP to implement KNN from scratch as well as using library and find optimal value of K using Elbow method. Experiment using different types of distance measures.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
from sklearn import datasets

In [2]:
x,y=datasets.make_blobs(n_samples=100,n_features=3,random_state=42)

In [3]:
df=pd.DataFrame(x,columns=["x0","x1","x2"])
data=df.copy()
data["Target"]=y
data.head()

          x0        x1        x2  Target
0  -2.936066  9.515734  5.798065       0
1 -10.339096  7.488546  1.166371       2
2  -8.461031  8.974874  0.695468       2
3  -1.927075  9.902035  5.534211       0
4   2.204123 -7.688564 -5.822686       1

In [12]:
print(x[1])

[-10.33909615   7.48854571   1.16637132]

In [10]:
def knn(point,data):
    distance=[]
    for i in data:
        sumn=0
        for j in range(len(data[0])):
            sumn+=(i[j]-point[j])**2
        distance.append(np.sqrt(sumn))
    return distance
pt=(2,3,2)
dis=knn(pt,x)
data1=data.copy()
data1["Distance"]=dis
data1.sort_values('Distance',inplace=True)
data1.head()

          x0        x1        x2  Target  Distance
17 -1.692753  7.490410  4.211833       0  6.220322
87 -1.627437  8.005201  3.056585       0  6.271101
97 -2.801150  6.359110  4.985397       0  6.576265
91 -1.735497  8.476144  3.293201       0  6.753848
13 -2.490197  8.479870  3.144825       0  7.176452

In [13]:
def knn(point, data):
    distance = []
    for i in data:
        print("i",i)
        sumn = 0
        for j in range(len(i)):
            sumn += (i[j] - point[j]) ** 2
        distance.append(np.sqrt(sumn))
    return distance

In [14]:
dis=knn((0,0),x)
data1=data.copy()
data1["Distance"]=dis
data1.sort_values('Distance',inplace=True)
data1.head()

i [-2.93606642  9.51573446  5.79806549]

IndexError: tuple index out of range