In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
D={'outlook':['rainy','rainy','overcast','sunny','sunny','sunny','overcast','rainy','rainy','sunny','rainy','overcast','overcast','sunny'],
  'play':['no','no','yes','yes','yes','no','yes','no','yes','yes','yes','yes','yes','no']}
df=pd.DataFrame(D)

In [5]:
df

     outlook play
0      rainy   no
1      rainy   no
2   overcast  yes
3      sunny  yes
4      sunny  yes
5      sunny   no
6   overcast  yes
7      rainy   no
8      rainy  yes
9      sunny  yes
10     rainy  yes
11  overcast  yes
12  overcast  yes
13     sunny   no

In [6]:
df['play']=df['play'].replace('yes',1)
df['play']=df['play'].replace('no',0)

In [7]:
df

     outlook  play
0      rainy     0
1      rainy     0
2   overcast     1
3      sunny     1
4      sunny     1
5      sunny     0
6   overcast     1
7      rainy     0
8      rainy     1
9      sunny     1
10     rainy     1
11  overcast     1
12  overcast     1
13     sunny     0

In [18]:
df[df['outlook']=='overcast']['play']

2     1
6     1
11    1
12    1
Name: play, dtype: int64

In [17]:
def prob(d_f,x,cat,clas):
    yes=[]
    yes_class=d_f[d_f[x]==cat][clas].value_counts()[1]
    print(yes_class)
    no_class=d_f[d_f[x]==cat][clas].value_counts()[0]
    print(no_class)
    total_prob=yes_class+no_class
    print(total_prob)

    total_len=len(d_f[clas])
    for i in d_f[clas]:
        if i==1:
            yes.append(i)
            
    prob_cat=(yes_class/sum(yes))
    
    print('yes_sunny given total_yes :',prob_cat)
    
    prob_yes=len(yes)/len(d_f)
    
    print('total_yes given total_obser:',prob_yes)
            
prob(df,'outlook','sunny','play')
prob(df,'outlook','rainy','play')
prob(df,'outlook','overcast','play')

3
2
5
yes_sunny given total_yes : 0.3333333333333333
total_yes given total_obser: 0.6428571428571429
2
3
5
yes_sunny given total_yes : 0.2222222222222222
total_yes given total_obser: 0.6428571428571429
4

KeyError: 0